.jui-tabs-container {
    margin: 40px auto;
    width: 700px;
}
.jui-tabs-container ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #dedede;
}
.jui-tabs-container ul li {
    float: left;
    list-style: none;
}
.jui-tabs-container ul li.active {

}
.jui-tabs-container ul li a {
    padding: 15px 20px;
    font-size: .8em;
    display: inline-block;
    cursor: pointer;
}
.jui-tabs-container ul li.active a {
    background-color: #888;
    color: #fff;
    -webkit-animation: juiLinkTabFade .7s;
    -moz-animation: juiLinkTabFade .7s;
    animation: juiLinkTabFade .7s;
}
@-moz-keyframes juiLinkTabFade {
    from { background-color: #dedede; }
to { background-color: #888 }
}
@-webkit-keyframes juiLinkTabFade {
    from { background-color: #dedede; }
to { background-color: #888 }
}
@keyframes juiLinkTabFade {
    from { background-color: #dedede; }
to { background-color: #888 }
}
.jui-tabs {

}
.jui-tabs .jui-tab {
    padding: 20px;
    display: none;
    background-color: #fff;
    -webkit-animation: juiTabFade .7s;
    -moz-animation: juiTabFade .7s;
    animation: juiTabFade .7s;
}
@-moz-keyframes juiTabFade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes juiTabFade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes juiTabFade {
    from { opacity: 0; }
to { opacity: 1 }
}

.jui-tabs .jui-tab.active {
    display: block;
}